.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}