

.main {

  max-width:90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 4rem;
  min-height: 100vh;
  gap: 10rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}



@media (prefers-color-scheme: dark) {
 
}

@media only screen and  (max-width: 767px) {
   
.main{
  padding: 1rem;
}
      
    }