

.main {

  /* width:90vw; */
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  gap: 6rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}



@media (prefers-color-scheme: dark) {
 
}

@media only screen and  (max-width: 767px) {
   
.main{
  padding: 0.25rem;
}
      
    }




    .btn {
      margin-top: 3.5rem;
      padding: 18px 32px;
      background-color: var(--primary-color);
      /* background-color: blueviolet; */
      border: none;
      outline: none;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 700;
      color: black;
    }
    
    .btn:hover {
      background-color: black;
      color: white;
    }
    