#contact{
  padding: 0 120px;
}
.contactContainer{
  display: flex;
  gap: 2rem;
}

.contactHeading{
  color: var(--primary-color);
  margin-bottom: 16px;
  text-align: center;
  font-size: 54px;
}

.contactTag{
margin-bottom: 32px;
text-align: center;
font-size: 36px;
}

.contact-1, .contact-2{
  flex: 1;
}

.contact-1 > div  {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding:12px 0 
}

.contact-1 > h4  {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}



.contactIcon{
  background-color: var(--black-color);
  color: var(--primary-color);
  padding: 0.5rem;
  font-size: 2.5rem;
  border-radius: 8px;
  margin-right: 1rem;
}



.contact-2{
  background-color: var(--black-color);
  border-radius: 1rem;
  padding: 3rem;

}

.contact2Tag{
  font-size: 36px;
  color: white;
  padding-bottom: 2rem;
}
form {
  position: relative;
}

.inputbox {
  position: relative;
  margin-top: 1.5rem
}

input,
textarea {
  background-color: var(--black-color);
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  transition: border-color 0.3s;
  font-size: 18px;
  color: white;
}

input:focus,
textarea:focus {
  border-color: white;
}

textarea {
  resize: none;
  width: 100%;
  height: 150px;
}

label {
  position: absolute;
  top: 0.5rem;
  left: 0rem;
  /* padding: 0 0.25rem; */
  pointer-events: none;
  transition: 0.5s;
  font-size: 18px;
  color: white;
}

input:focus~label,
input:valid~label,
textarea:valid~label,
textarea:focus~label {
  color: gray;
  transform: translateY(-24px);
  font-size: 0.8rem;
}
.contactButton{
  margin-top: 2rem !important;
  width: 100%;
}




@media only screen and  (max-width: 767px) {
   
  .contactContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 32px;
  }

  #contact >h3 {
      margin-bottom: 1rem;

  }
.contact-1 > h3{
margin-top: 1.2rem;
  margin-bottom: 1.5rem;
}
  
      
    }